@import 'breakpoints';

.about {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: 100%;
  padding: 46px 15px;

  background-color: rgba(244, 245, 247, 1);

  @include for-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;

    height: 255px;
    margin-bottom: 30px;
    padding: 77px 130px 76px 130px;
  }

  &__article {
    font-size: 22px;
    line-height: 32px;

    @include for-desktop {
      flex: 1;
    }
  }

  &__article-description {
    margin-top: 8px;
  }
}