@import 'breakpoints';

.communication {
  padding: 50px 15px;

  @include for-desktop {
    display: flex;
    flex-direction: column;
    height: 646px;
    margin: 110px 130px;
    padding: 0;
  }

  &__top {
    @include for-desktop {
      position: relative;
      display: flex;
      gap: 192px;
      height: 489px;
    }
  }

  &__content {
    @include for-desktop {
      padding: 13px 0 87px 0;
    }
  }

  &__subtitle {
    margin-bottom: 17px;
    color: rgba(1, 137, 209, 1);

    @include for-desktop {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 18px;

    @include for-desktop {
      margin-bottom: 30px;
    }
  }

  &__description {
    margin-bottom: 27px;

    @include for-desktop {
      margin-bottom: 39px;
    }
  }

  &__button {
    width: 160px;
    border: none;
  }

  &__image {
    gap: 17px;
    margin: 40px 0;

    @include for-desktop {
      margin: 0;
      margin-right: 62px;
      padding: 0;
      min-width: 426px;
    }
  }

  &__line {
    width: 150px;
    border-color: rgba(0, 0, 0, 0.15);

    @include for-desktop {
      position: absolute;
      bottom: 0;
    }
  }

  &__bottom {
    margin-top: 33px;
    font-size: 18px;
    line-height: 26px;

    @include for-desktop {
      display: flex;
      justify-content: space-between;
      margin-top: 41px;
    }
  }

  &__item {
    @include for-desktop {
      height: 115px;
      width: 358px;
    }

    &:nth-child(2) {
      margin: 33px 0 32px 0;

      @include for-desktop {
        margin: 0;
      }
    }
  }

  &__item-description {
    margin-bottom: 6px;
  }

  &__item-link {
    font-weight: 700;
    color: rgba(48, 64, 196, 1);
  }
}