@import 'breakpoints';

.customers {
  display: flex;
  flex-wrap: wrap;
  min-width: 318px;

  @include for-desktop {
    flex-wrap: nowrap;
    padding: 0 130px;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    flex: 33%;
    height: 94px;
    width: auto;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(227, 227, 227, 1);
    border-right: 1px solid rgba(227, 227, 227, 1);

    @include for-desktop {
      flex: 0 0 auto;
      padding: 0;
      border: none;
      height: auto;
    }

    &:last-child {
      border-right: none;
    }

    &:nth-child(3) {
      border-right: none;
    }

    &-logo {
      filter: brightness(0);
      max-width: 100%;
      height: auto;
    }
  }
}