@import 'breakpoints';

.customers {
  display: flex;
  flex-wrap: wrap;
  min-width: 318px;

  @include for-desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 33%;
    height: 94px;
    width: auto;
    padding: 14px;

    border-bottom: 1px solid rgba(227, 227, 227, 1);
    border-right: 1px solid rgba(227, 227, 227, 1);

    @include for-desktop {
      flex: 0 0 auto;
      height: auto;
      padding: 0;

      border: none;
    }

    &:last-child {
      border-right: none;
    }

    &:nth-child(3) {
      border-right: none;
    }
  }

  &__item-logo {
    max-width: 100%;
    height: auto;

    filter: brightness(0);
  }
}