@import 'breakpoints';

.feedback {
  padding: 39px 15px 50px;
  border-bottom: 1px solid rgba(227, 227, 227, 1);

  @include for-desktop {
    padding: 0;
    margin-top: 76px;
    height: 355px;
    position: relative;
    border-bottom: 1px solid rgba(227, 227, 227, 1);
  }

  &__message {
    margin-bottom: 40px;

    @include for-desktop {
      text-align: center;
    }
  }

  &__title {
    color: rgba(49, 66, 198, 1);
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 29px;

    @include for-desktop {
      margin-bottom: 28px;
    }
  }

  &__description {
    margin-bottom: 33px;

    @include for-desktop {
      margin: 0 325px 34px;
    }
  }

  &__account-info {
    line-height: 24px;
    margin-bottom: 40px;

    @include for-desktop {
      margin-bottom: 38px;
    }
  }

  &__switch {
    display: flex;
    justify-content: center;
    gap: 19.5px;

    @include for-desktop {
      gap: 13px;
    }

    &-oval {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgba(43, 41, 45, 0.2);

      @include for-desktop {
        width: 8px;
        height: 8px;
      }

      &--selected {
        background-color: rgba(49, 66, 197, 1);
      }
    }
  }

  &__image {
    @include for-desktop {
      position: absolute;
      bottom: 0;
      right: 26px;
    }
  }
}