@import 'breakpoints';

.footer {
  padding-top: 40px;

  @include for-desktop {
    height: 389px;
    padding: 0;
  }

  &__top {
    @include for-desktop {
      display: flex;
      padding-left: 130px;
      border-bottom: 1px solid rgba(227, 227, 227, 1);
    }
  }

  &__logo {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(227, 227, 227, 1);
    text-align: center;
    line-height: 25px;

    @include for-desktop {
      width: 360px;
      margin-right: 126px;
      padding: 43px 0 59px 0;
      border: none;
      text-align: left;
      line-height: 25px;
    }
  }

  &__logo-icon {
    width: 60px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: left;
    transform: translate(2px, 5px) scale(1.1);

    @include for-desktop {
      height: 60px;
      margin: 0;
      transform: none;
    }
  }

  &__logo-content {
    @include for-desktop {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 26px;
      height: 60px;
    }
  }

  &__logo-info {
    margin-bottom: 32px;

    @include for-desktop {
      margin: 0;
    }
  }

  &__logo-title {
    font-size: 20px;
  }

  &__logo-subtitle {
    font-size: 18px;
  }

  &__logo-description {
    @include for-desktop {
      height: 85px;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__logo-button {
    border: none;
    cursor: pointer;
  }

  &__logo-downloads {
    display: flex;
    justify-content: center;
    gap: 9px;
    height: 40px;

    @include for-desktop {
      justify-content: left;
      gap: 10px;
      margin-top: 25px;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 28px 15px 22px;

    @include for-desktop {
      display: flex;
      flex-direction: row;
      gap: 29px;
      width: 559px;
      height: 231px;
      padding: 0;
    }
  }

  &__navigation-title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 28px;

    @include for-desktop {
      margin-top: 62px;
    }
  }

  &__navigation-list {
    list-style-type: none;
    line-height: 30px;
  }

  &__navigation-list-item {
    margin-bottom: 6px;
    font-size: 18px;
  }

  &__navigation-list-item a {
    text-decoration: none;
  }

  &__navigation-links {
    @include for-desktop {
      width: 265px;
      height: 185px;
    }
  }

  &__bottom {
    padding: 0 0 23px 15px;

    @include for-desktop {
      display: flex;
      justify-content: space-between;
      padding: 16px 130px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 30px;
  }

  &__links-items {
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
  }

  &__social-links {
    display: flex;
    gap: 20px;
  }
}