@import 'breakpoints';

.footer {
  padding-top: 40px;

  @include for-desktop {
    height: 389px;
    padding: 0;
  }

  &__top {
    @include for-desktop {
      display: flex;
      border-bottom: 1px solid rgba(227, 227, 227, 1);
      padding-left: 130px;
    }
  }

  &__logo {
    padding-bottom: 40px;
    text-align: center;
    line-height: 25px;
    border-bottom: 1px solid rgba(227, 227, 227, 1);

    @include for-desktop {
      padding: 43px 0 59px 0;
      text-align: left;
      width: 360px;
      line-height: 25px;
      border: none;
      margin-right: 126px;
    }

    &-icon {
      width: 60px;
      object-fit: cover;
      object-position: left;
      transform: translate(2px, 5px) scale(1.1);
      margin-bottom: 20px;

      @include for-desktop {
        height: 60px;
        transform: none;
        margin: 0;
      }
    }

    &-content {
      @include for-desktop {
        height: 60px;
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 26px;
      }
    }

    &-info {
      margin-bottom: 32px;

      @include for-desktop {
        margin: 0;
      }
    }

    &-title {
      font-size: 20px;
    }

    &-subtitle {
      font-size: 18px;
    }

    &-description {
      @include for-desktop {
        font-size: 18px;
        line-height: 26px;
        height: 85px;
      }
    }

    &-button {
      border: none;
      cursor: pointer;
    }

    &-downloads {
      height: 40px;
      display: flex;
      gap: 9px;
      justify-content: center;

      @include for-desktop {
        justify-content: left;
        gap: 10px;
        margin-top: 25px;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 28px 15px 22px;

    @include for-desktop {
      width: 559px;
      height: 231px;
      flex-direction: row;
      gap: 29px;
      padding: 0;
    }

    &-title {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 16px;

      @include for-desktop {
        margin-top: 62px;
      }
    }

    &-list {
      list-style-type: none;
      line-height: 30px;

      &_item {
        font-size: 18px;
        margin-bottom: 6px;

        & a {
          text-decoration: none;
        }
      }


    }

    &-links {
      @include for-desktop {
        width: 265px;
        height: 185px;
      }
    }
  }

  &__bottom {
    padding: 0 0 23px 15px;

    @include for-desktop {
      display: flex;
      justify-content: space-between;
      padding: 16px 130px;
    }
  }

  &__links {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;

    &-items {
      text-decoration: none;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__social-links {
    display: flex;
    gap: 20px;
  }
}