@import 'breakpoints';
.hiring {
    margin: 50px 15px;
    @include for-desktop {
        margin: 106px 325px 110px;
    }
    &__top {
        text-align: center;
        &-title {
            margin-bottom: 18px;
            @include for-desktop {
                margin-bottom: 20px;
            }
        }
        &-description {
            margin-bottom: 28px;
        }
        &-button {
            width: 100%;
            border: none;
            @include for-desktop {
                width: 250px;
            }
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 51px;
    }
    &__vacancy {
        margin-top: 39px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @include for-desktop {
            margin-top: 110px;
        }
        &-button {
            background-color: transparent;
            border: 1px solid rgba(43, 41, 45, 0.2);
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            height: 140px;
            @include for-desktop {
                height: 81px;
            }
            &_info {
                margin: 20px;
                text-align: left;
                @include for-desktop {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }
            &_name {
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 19px;
                @include for-desktop {
                    width: 408px;
                    margin: 0;
                    margin-left: 25px;
                }
            }
            &_location {
                line-height: 22px;
                opacity: 0.6;
                @include for-desktop {
                    font-size: 18px;
                    width: 232px;
                }
            }
            &_dissabled {
                background-color: rgba(213, 212, 213, 1);
                @include for-desktop {
                    background-color: transparent;
                }
            }
            &_active {
                display: none;
            }
            &:hover {
                background-color: rgba(49, 65, 197, 1);
                box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.07), 0px 13px 18px 0px rgba(0, 0, 0, 0.15);
                color: rgba(255, 255, 255, 1);
                & .hiring__vacancy-button_dissabled {
                    display: none;
                }
                & .hiring__vacancy-button_location {
                    opacity: 1;
                }
                & .hiring__vacancy-button_active {
                    display: flex;
                }
            }
        }
    }
}