@import 'breakpoints';

.order {
  padding: 50px 15px;

  background-color: rgba(244, 245, 247, 1);

  @include for-desktop {
    display: flex;
    gap: 122px;
    height: 441px;
    padding: 0;
    padding-left: 226px;
  }

  &__button {
    border: none;

    @include for-desktop {
      min-width: 160px;
    }
  }

  &__image-properties {
    width: 200px;
    height: 220px;
    margin-bottom: 40px;

    @include for-desktop {
      width: 270px;
      height: 297px;
      margin-top: 72px;
    }
  }

  &__content {
    @include for-desktop {
      margin-top: 106px;
      max-width: 555px;
    }
  }

  &__content-title {
    margin-bottom: 18px;

    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;

    @include for-desktop {
      height: 48px;
      margin-bottom: 12px;

      text-align: left;
    }
  }

  &__content-description {
    margin-bottom: 79px;

    font-size: 22px;
    line-height: 32px;

    @include for-desktop {
      margin-bottom: 26px;
    }
  }

  &__content-send {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10px;

    @include for-desktop {
      flex-direction: row;
      gap: 10px;
    }
  }

  &__content-send-input {
    height: 48px;
    width: 100%;

    border-radius: 2px;
    border: 1px solid rgba(43, 41, 45, 0.2);

    font-size: 18px;
    line-height: 14px;
    text-align: center;

    @include for-desktop {
      padding-left: 15px;

      line-height: 13px;
      text-align: left;
    }
  }

  &__content-addition {
    font-size: 14px;
    line-height: 22px;
  }

  &__content-addition-link {
    color: rgba(49, 66, 198, 1);
  }
}