@import 'breakpoints';

.order {
  padding: 50px 15px;
  background-color: rgba(244, 245, 247, 1);

  @include for-desktop {
    height: 441px;
    display: flex;
    padding: 0;
    padding-left: 226px;
    gap: 122px;
  }

  &__button {
    border: none;

    @include for-desktop {
      min-width: 160px;
    }
  }

  &__image-properties {
    width: 200px;
    margin-bottom: 40px;

    @include for-desktop {
      width: 270px;
      margin-top: 72px;
    }
  }

  &__content {
    @include for-desktop {
      margin-top: 106px;
      max-width: 555px;
    }

    &-title {
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.25px;
      margin-bottom: 18px;

      @include for-desktop {
        height: 48px;
        text-align: left;
        margin-bottom: 12px;
      }
    }

    &-description {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 79px;

      @include for-desktop {
        margin-bottom: 26px;
      }
    }

    &-send {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 10px;

      @include for-desktop {
        flex-direction: row;
        gap: 10px;
      }

      &_input {
        height: 48px;
        width: 100%;
        border-radius: 2px;
        border: 1px solid rgba(43, 41, 45, 0.2);
        font-size: 18px;
        line-height: 14px;
        text-align: center;

        @include for-desktop {
          line-height: 13px;
          padding-left: 15px;
          text-align: left;
        }
      }
    }

    &-addition {
      font-size: 14px;
      line-height: 22px;

      &_link {
        color: rgba(49, 66, 198, 1);
      }
    }
  }
}