$base-font-size: 16px;
$font-size-title-desktop: 56px;
$font-size-title-mobile: 40px;
$text-color-priority: rgba(43, 41, 45, 1);
$text-color-secondary: rgba(43, 41, 45, 0.6);
$text-color-additional: rgba(0, 155, 77, 1);
$additional-color-white: rgba(255, 255, 255, 1);
$additional-color-blue: rgba(48, 64, 196, 1);